.contenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	box-shadow: var(--page-text-content-color) 0px 8px 15px -10px;
	margin: 70px 0;
	padding-top: 50px;
	padding-bottom: 30px;
	color: var(--page-text-content-color);
}
.categorie {
	display: flex;
	justify-content: space-around;
	padding: 0;
}
.buttonContenant {
	list-style: none;
	margin: 20px;
}
.container > h2 {
	font-size: 2.5rem;
	font-weight: bold;
	text-align: center;
	background-clip: text;
	color: transparent;
	background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
}

.button {
	border: none;
	background: none;
	cursor: pointer;
	font-size: large;
	color: var(--page-text-content-color);
}
.button:hover {
	color: red;
}
/* .button::after {
	content: '';
	display: block;
	position: absolute;
	width: 50px;
	height: 3px;
	background-color: red;
	transform: scale(0);
	transition: transform 0.2s ease-in;
} */
.buttonSelected {
	color: red;
	border-radius: 10px;
	border-bottom: solid red 3px;
	transition: all 0.5s;
}
.button:hover::after {
	transform: scale(1);
}
.porfolioH3 {
	font-size: 2rem;
}
@media (max-width: 545px) {
	.buttonContenant {
		margin: 8px;
		transition: all 0.4s;
	}
}
@media (max-width: 430px) {
	.buttonContenant {
		margin: 2px;
		transition: all 0.4s;
	}
	.button {
		margin: 2px;
		font-size: 0.8rem;
		transition: all 0.4s;
	}
}
@media (max-width: 320px) {
	.buttonContenant {
		margin: 0px;
		transition: all 0.4s;
	}
	.button {
		margin: 2px;
		font-size: 0.5rem;
		transition: all 0.4s;
	}
}
