.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 0;
	/* background-color: #111; */
	background-image: url('../public/images/head.gif');
	background-size: cover;
	object-fit: contain;
	grid-column: 1/15;
	overflow-x: hidden;
}
.container h2 {
	color: var(--page-text-content-color);
	font-size: 2.5rem;
	text-align: center;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
}
.container_commentaire {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: max-content;
	animation: reviewCardAnim1 8s ease-in-out infinite alternate;
}
.container_commentaire:hover {
	animation-play-state: paused;
}

@keyframes reviewCardAnim1 {
	0% {
		-webkit-transform: translateX(-52%);
		transform: translateX(-52%);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

.box {
	display: flex;
	flex-direction: column;
	max-width: 350px;
	padding: 10px;
	margin: 10px;
	border-radius: 12px;
	box-shadow: var(--page-text-content-color) 1px 1px 5px 0px;
	/* animation: scroll 80s linear infinite; */
}

.box > div .ville_pays {
	font-size: 0.7rem;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
}
.box .nom_commentataire {
	color: white;
	font-weight: bold;
	margin: 3px 0;
}
.box p {
	color: white;
}
.form {
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: initial;
	/* background-color: var(--Form-bg-color); */
	background: none;
	color: white;
	margin: 20px;
	transition: all 0.5s;
	color: var(--page-text-content-color);
	border: 1px solid white;
	border-radius: 5px;
	margin-bottom: 100px;
	width: 70%;
}
.popup_comment {
	position: relative;
	width: 100%;
	height: 30px;
}
.popup_comment svg {
	position: absolute;
	top: 20px;
	right: 3%;
	width: 25px;
	fill: white;
	cursor: pointer;
	transition: all 0.5s;
	animation: animation 1s linear infinite;
}

@keyframes animation {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}
.popup_comment svg:hover {
	transform: scale(1.3);
	transition: all 0.5s;
}
.checkbox {
	position: absolute;
	top: 4px;
	right: 100px;
	display: none;
}
.close {
	position: absolute;
	width: 25px;
	height: 25px;
	top: 5px;
	right: 5px;
	cursor: pointer;
	fill: var(--coeur);
}
.form > p {
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
}
.taille {
	height: 50px;

	border-radius: 8px;
	padding: 10px;
	background-color: rgb(247, 252, 255);
	outline: none;
}
.localisation,
.text {
	margin-top: 30px;
}

.prenomNom,
.localisation {
	width: 100%;
}
.prenomNom,
.localisation,
.text {
	border: 1px solid white;
	background: none;
	color: white;
}
.prenomNom {
	margin-right: 15px;
}
.text {
	border-radius: 5px;
	height: 75px;
	padding: 8px;
	outline: none;
}
.text ~ .errors {
	font-size: 0.8rem;
	text-align: start;
}
.envoyer {
	background-color: green;
	display: flex;
	border-radius: 15px;
	color: whitesmoke;
	cursor: pointer;
	justify-content: center;
	gap: 5px;
	align-items: center;
	padding: 10px;
	margin: 20px 0;
	border: solid green 1px;
	transition: all 0.1s;
}
.envoyer svg {
	fill: white;
}
.envoyer:hover {
	border: solid green 1px;
	transition: all 0.1s;
	color: green;
	background: none;
}
.envoyer:hover > svg {
	fill: green;
}
.send {
	width: 30px;
	height: 30px;
}
.errors {
	color: #ff0000;
	font-size: 0.8em;
}
.label {
	position: relative;
}
.label > p {
	position: absolute;
	top: 0;
	left: 5px;
}

.button {
	height: 50px;
	border: 1px solid white;
	border-radius: 8px;
	padding: 10px;
	margin: 30px 0;
	cursor: pointer;
	background: none;
}

.button {
	--primary-color: #111;
	--hovered-color: green;
	position: relative;
	display: flex;
	justify-content: center;
	font-weight: 600;
	font-size: 20px;
	gap: 0.5rem;

	align-items: center;
}

.button p {
	margin: 0;
	position: relative;
	font-size: 20px;
	color: white;
}

.button p::before {
	position: absolute;
	content: 'Commenter';
	width: 0%;
	inset: 0;
	color: var(--hovered-color);
	overflow: hidden;
	transition: 0.3s ease-out;
}

.button:hover p::before {
	width: 100%;
}

.button:hover svg {
	transform: translateX(4px);
	color: var(--hovered-color);
}

.button svg {
	color: white;
	transition: 0.2s;
	position: relative;
	width: 15px;
	transition-delay: 0.2s;
}
@media (max-width: 450px) {
	.box {
		max-width: 250px;
	}
}
