.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	transition: all 0.4s;
	padding-bottom: 20px;
	background-image: url('/images/etoile.gif');
	background-size: cover;
	object-fit: contain;
}
.box {
	width: 300px;
	height: 250px;
	transition: all 0.3s;
	margin: 8px;
	min-width: 210px;
	display: flex;
	flex-direction: column;
	padding: 5px;
	align-items: center;
	position: relative;
	display: flex;
	justify-content: space-between;
	box-shadow: var(--page-text-content-color) 1px 1px 5px 0px;
	background-color: var(--Form-bg-color);
	border-radius: 5px;
}
.videoBox {
	width: 95%;
	/* z-index: 1; */
	transition: all 0.4s;
	height: 200px;
}
.videoBox:hover {
	/* opacity: 0.5; */
	transform: scale(1.02);
	/* transition: all 1s; */
}
.titre {
	margin: 0;
	font-size: 1.2rem;
	color: var(--page-text-content-color);
}
@media (max-width: 312px) {
	.box {
		max-width: 250px;
		max-height: 200px;
		transition: all 0.4s;
	}
	.imgBox {
		width: 95%;
		cursor: pointer;
		transition: all 0.4s;
		height: 170px;
	}
}
